@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.tab_content {
  display: none;
  padding:0px;
  border-top: 1px solid #ddd;
}

.rd_button {
  display: none;
}

.rd_button1 {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 20px;
  font-weight:600;	
  text-align: center;
  color: #000;
  font-size:13px;
  border: 1px solid transparent;
}

.rd_button1:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.rd_button1:hover {
  color: #888;
  cursor: pointer;
}

.rd_button:checked + .rd_button1 {
  color: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid blue;
  border-bottom: 1px solid #fff;
  background:#808081;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7{
  display: block;
}

@media screen and (max-width: 650px) {
  .rd_button1{
    font-size: 12px;
  }

 .rd_button1:before {
    margin: 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
 .rd_button1{
    padding: 15px;
	width:100%;
  }
}
